
/****************************** NOTES *********************************
- float: => pushes item to either far right or left
- padding => expands box around the item, covers more
- overflow => dictates what happens when there is overlap
- :hover => use to adjust how item looks when user hovers over it
- .active =>
********************************************************************/

/*************** MAIN NAVIGATION BAR CONTAINER ***************/

.Container {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #31b3c4;
}

.Container a {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 2rem 2.5rem;
}

.Container a:hover {
    background-color: #7bc4ce;
    color: rgb(0, 68, 255);
}

.Container a.active {
    background-color: #7bc4ce;
    color: black;
}

/*************** FIRST DIV ***************/

.FirstDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*************** MIDDLE DIV ***************/

.TheLogo {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.TempLogo {
    width: 100%;
    padding: 0.5rem;
    height: 5rem;
    width: 15rem;
}

/*************** THIRD DIV ***************/

.ThirdDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Search {
    width: 100%;
    display: flex;
    justify-content: right;
}

.Search input[type = text] {
    font-family: Chalkduster, fantasy;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    width: 30rem;
    padding: 0.8rem;
    border-radius: 0.5rem;  
    border: 0.2rem solid #000000;  
}